@import "./normalize.css";
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Typography*/
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #845ec2;
  --color-secondary: #00c9a7;
  --color-headings: #1c2127;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
  --color-body-darker: #1c2127;
  --color-one: #cb6ce6;
  --color-two: #bb3adf;
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-top: 0;
}

/* Links */
a {
  text-decoration: none;
}

/* Click */
.click {
  cursor: pointer;
}

/*Icons*/
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-border);
}

.icon--secondary {
  fill: #fff;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--big {
  width: 50px;
  height: 50px;
}

.icon--white {
  fill: #fff;
}

.icon--close {
  transform: rotate(45deg);
}

.icon-container {
  background: #fbeaff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.icon-container__plus {
  background: var(--color-secondary);
  border-radius: 20%;
}

/* BUTTONS */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--primary:hover {
  background: #1aaf96;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

/* Blocks */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: var(--color-body-darker);
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--dark .block__heading {
  color: #fff;
}

.text__container {
  border-radius: 40px;
  border: 0;
  font-weight: 500;
  color: #fff;
  margin: 0 1rem;
  outline: 0;
  padding: 1.5rem;
  text-align: center;
  white-space: nowrap;
  background: var(--color-two);
}
/* Navigation Bar */

.nav {
  background: var(--color-body-darker);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: auto;
  display: flex;
  font-size: 1.6rem;
  max-height: 100%;
  opacity: 1;
  margin: 0;
}

.nav__item {
  padding: 0.5rem;
}

.nav__name {
  margin: 1rem;
}
/* GRIDS */

.grid {
  display: grid;
}

.grid--cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* LISTS */

.list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  margin-bottom: 1rem;
}

/* CLASS */
.top__title {
  margin-top: 0;
  margin-bottom: 3rem;
}

.plan {
  transition: transform 0.2s ease-out;
}
.class {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.class__body {
  padding: 6rem 3rem;
}

.class__title {
  text-transform: uppercase;
  color: #fff;
}

.class--primary {
  background: var(--color-one);
  color: #fff;
}

.class--primary-2 {
  background: var(--color-two);
}

.plan:hover {
  transform: scale(1.05);
}

/* MODAL */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  width: 600px;
  max-width: 80%;
  max-height: 80%;
}

.modal-active {
  transform: translate(-50%, -50%) scale(1);
}

/* PORTAL EVENTOS */

.class__header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class__heading {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.class__title {
  font-size: 2rem;
  color: #fff;
}

.class__content {
  padding: 1rem 5rem;
}

.nav__eventos {
  background: var(--color-one);
}

.class__content > .class__title {
  margin-top: 1rem;
}

.class__content-eventos {
  display: block;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 1rem;
  height: 280px;
  max-height: 300px;
}

.evento {
  width: 100%;
  padding: 0.5rem;
  display: inline-block;
}

/* Descripcion Evento */

.desc__evento {
  z-index: 11;
  width: 550px;
  max-width: 80%;
  max-height: 80%;
  font-size: 1.8rem;
  color: #fff;
}

.desc__evento-active {
  /*TODO: añadir con JS segundo modal*/
  transform: translate(-50%, -50%) scale(1);
}

.desc {
  background: var(--color-one);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

/* OVERLAY */

#overlay {
  position: fixed;
  opacity: 0;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  /*TODO: añadir con JS primer modal*/
  opacity: 1;
  pointer-events: all;
}

.second-layer {
  /*TODO: añadir con JS segundo modal*/
  z-index: 10;
}

/* CLASSES BLOCK */

.block-class {
  padding-top: 3rem;
}

.block-class .grid {
  gap: 8rem 4rem;
}

.block-class .class {
  max-width: 500px;
  margin: 0 auto;
}

/* REGISTER */
.register-container {
  color: #fff;
  background: var(--color-headings);
  transform: translate(-50%, -50%) scale(1);
  padding: 2rem;
  width: 400px;
  height: 550px;
  text-align: center;
}

/* LOGIN */
.login-container {
  color: #fff;
  background: var(--color-headings);
  transform: translate(-50%, -50%) scale(1);
  padding: 2rem;
  width: 400px;
  height: 400px;
  text-align: center;
}

.log__user {
  color: #fff;
  font-size: 3.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.user-inactive {
  border-radius: 4px;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 1.5rem;
  text-align: center;
  white-space: nowrap;
  background: #a6a6a6;
}

.log__inst {
  margin: 1rem 0;
}

.hidden {
  transform: translate(-50%, -50%) scale(0);
}

/* CREAR CLASE */
.crear__clase {
  background-color: #1c2127;
  padding: 2rem;
  width: 350px;
}

.crear__clase .close {
  text-align: right;
}

.crear__clase > form {
  margin-bottom: 0;
  text-align: center;
}

.form__title {
  margin-top: 0;
}

.input__type {
  margin-bottom: 1rem;
}

.crear__clase > form > input {
  margin-bottom: 3rem;
}

.crear__clase-active {
  transform: translate(-50%, -50%) scale(1);
}

/* CREAR EVENTO */

.crear__evento {
  z-index: 11;
  width: 550px;
  max-width: 80%;
  max-height: 80%;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

.crear__evento .close {
  text-align: right;
}

.crear__evento > form {
  margin-bottom: 0;
}

.crear__evento > form > input,
.crear__evento > form > textarea {
  margin-bottom: 3rem;
  display: inline-block;
}
.crear__evento-active {
  transform: translate(-50%, -50%) scale(1);
}

/* ESTUDIANTE */

/* CALENDAR */

.calendar__section {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  background-color: #fffcff;
  font-size: 1.5rem;
}

.calendar__btn {
  width: 7rem;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#calendar__header {
  padding: 1rem;
  color: var(--color-headings);
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}

#calendar__header .calendar__btn {
  background-color: var(--color-body);
}

#calendar__container {
  width: 770px;
}

#weekdays {
  width: 100%;
  display: flex;
  color: var(--color-body);
}

#weekdays div {
  /*si se le quita el div se dañan los titulo*/
  width: 10rem;
  margin: 1rem 1rem;
  font-size: 2rem;
  text-align: center;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 1rem;
  height: 120px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  transform: scale(1.05);
}

.day + #currentDay {
  background-color: #e8f4fa;
}

.event {
  font-size: 10px;
  padding: 3px;
  cursor: pointer;
  background-color: var(--color-one);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.event:hover {
  transform: scale(1.05);
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
  z-index: 11;
  width: 550px;
  max-width: 80%;
  max-height: 80%;
  font-size: 1.8rem;
  color: #fff;
}

#eventTitleInput.error {
  border: 2px solid red;
}

#cancelButton,
#deleteButton {
  background-color: #d36c6c;
  margin-bottom: 2rem;
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

#newClassModal {
  z-index: 11;
  width: 550px;
  height: 200px;
  max-width: 80%;
  max-height: 80%;
  font-size: 1.8rem;
  color: #fff;
}
