<div id="modal6RT85">
  <div class="modal class--primary class__desc" id="desc6RT85">
    <div class="class__header">
      <ul class="list nav__list">
        <li class="nav__item">
          <h4 class="text__container class__heading">ing software</h4>
        </li>
        <li class="nav__item" onclick="return deleteclass('6RT85')">
          <svg class="icon icon--small icon--white click">
            <use xlink:href="Images/sprite.svg#edit"></use>
          </svg>
        </li>
      </ul>
      <ul class="list nav__list">
        <li class="nav__item"><p class="text__container">#6RT85</p></li>
        <li class="nav__item">
          <div class="click" onclick="return closewindow('desc6RT85')">
            <svg class="icon icon--small icon--white icon--close">
              <use xlink:href="Images/sprite.svg#cross"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>
    <div class="class__content">
      <div class="nav nav__eventos">
        <h3 class="class__title">Eventos</h3>
        <div class="click" onclick="return createevent('desc6RT85')">
          <svg class="icon icon--small icon--white">
            <use xlink:href="Images/sprite.svg#cross"></use>
          </svg>
        </div>
      </div>
      <ul class="list class__content-eventos" id="desc6RT85event">
        <li class="list-item nav__list" id="desc6RT85event1a">
          <div onclick="return deleteevent('desc6RT85event1')">
            <svg class="icon icon--small icon--white click" id="bin">
              <use xlink:href="Images/sprite.svg#bin"></use>
            </svg>
          </div>
          <a
            class="text__container evento click"
            onclick="return openevent('desc6RT85event1')"
            >Primera Entrega</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="modal block--dark crear__evento" id="adddesc6RT85">
    <div class="close" onclick="return closewindow('adddesc6RT85')">
      <svg class="icon icon--small icon--white icon--close click">
        <use xlink:href="Images/sprite.svg#cross"></use>
      </svg>
    </div>
    <form action="">
      <h2 class="form__title">Crear Evento</h2>
      <p class="input__type">Titulo del Evento</p>
      <input type="text" maxlength="15" required id="nombre__evento6RT85" />
      <p class="input__type">Descripción del Evento</p>
      <textarea
        id="desc__asign6RT85"
        cols="30"
        rows="5"
        maxlength="100"
        required
      ></textarea>
      <p class="input__type">Fecha del Evento</p>
      <input type="date" id="fecha__evento6RT85" required />
      <div>
        <input
          type="submit"
          class="btn btn--primary"
          onclick="return newevent('desc6RT85')"
        />
      </div>
    </form>
  </div>
  <div class="modal desc__evento class--primary-2" id="desc6RT85event1">
    <div class="class__content">
      <div class="class__header">
        <h3 class="class__title">TITULO</h3>
        <div class="click" onclick="return closewindow('desc6RT85event1')">
          <svg class="icon icon--small icon--white icon--close">
            <use xlink:href="Images/sprite.svg#cross"></use>
          </svg>
        </div>
      </div>
      <p class="desc">primera entrega</p>
      <div>
        <h3 class="class__title">DESCRIPCIÓN</h3>
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vitae
          nesciunt culpa obcaecati reprehenderit, vel quae accusamus eaque vero
          sed.
        </p>
      </div>
      <h3 class="class__title">FECHA</h3>
      <p class="desc">09/11/22</p>
    </div>
  </div>
</div>
