<div class="modal desc__evento class--primary-2" id="desc6RT85event1">
  <div class="class__content">
    <div class="class__header">
      <h3 class="class__title">TITULO</h3>
      <div class="click" onclick="return closewindow('desc6RT85event1')">
        <svg class="icon icon--small icon--white icon--close">
          <use xlink:href="Images/sprite.svg#cross"></use>
        </svg>
      </div>
    </div>
    <p class="desc">primera entrega</p>
    <div>
      <h3 class="class__title">DESCRIPCIÓN</h3>
      <p class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vitae
        nesciunt culpa obcaecati reprehenderit, vel quae accusamus eaque vero
        sed.
      </p>
    </div>
    <h3 class="class__title">FECHA</h3>
    <p class="desc">09/11/22</p>
  </div>
</div>
