<header>
  <nav class="nav block--dark">
    <ul class="list nav__list">
      <li class="nav__item">
        <a href="index.html">
          <div class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="Images/sprite.svg#user"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <h2 class="nav__name">Mario Brinceño Torres</h2>
      </li>
    </ul>
    <a href="#"
      ><div class="icon-container icon-container__plus">
        <svg class="icon icon--secondary">
          <use xlink:href="Images/sprite.svg#cross"></use>
        </svg></div
    ></a>
  </nav>
</header>
